.frame{
  float: left;
   width: 100%;
  border: 40px solid transparent;  
  background-color: #000;
}
.letters{
   display: flex;
   
   padding: 5px;
 }
.letter{


}
.letter-img{
   border: 3px solid #babaca !important;
   width: 90%;
 }
.letter-img{
   height: 100% !important;
}
/*
img.letter-img{

   filter:grayscale(100);
   filter:sepia(100);
}*/
.frame-part {
  width: 90%;
  height: 15px;
  display: contents;
  background-color: red;
}

.select2-selection__rendered{
  background-color: #fff !important;
}
.variations{
  display: none;
}
.ppom-label-item{
  font-weight: bold;
}
/*------------------------------------------*/
.conteudo {
  width:404px;
  height:275px;
  border:4px solid #999;
  background:transparent url('/media/letter/D/2.JPG');
  }

.moldura-dois {
  width: 404px; 
  border:8px inset #5f6632;
  padding:15px;
  background: #b1b1c3;
  }

.moldura-um {
  width: 450px; /*404+8+8(bordas)+15+15(paddings)*/
  border:20px inset #5d738b;
  padding:25px;
  background: transparent url(/bg-um.gif);
  }