.frame{
  float: left;
   width: 100%;
   background-color: #000000;
}
.letters{
   display: flex;
   
   border: 10px solid transparent;
   padding: 15px;
   -webkit-border--image: url(/media/img/molduras/moldura07.png) 4% 1% round;   -o-border-image: url(/media/img/molduras/moldura07.png) 4% 1% round;
   border-image: url(/media/img/molduras/moldura07.png) 4% 1% round;
 }
.letter{
}
.letter-img{
   width: 90%;
}
.letter-img{
   height: 100% !important;
}

.frame-part {
  width: 90%;
  height: 15px;
  display: contents;
  background-color: red;
}

.cutCorner {
   position:relative; background-color:blue; 
   /*border:1px solid silver; display: inline-block;*/
   width: 100%;
   height: 40px;

   margin: 0px;
   padding: 0px;
}

img.edge-img {
   display:inline-block;

   height: 40px;
   width: 25%;
   margin: 0px;
   margin-right: -4px;
   padding: 0px;
}

.cutCorner:before {
   position:absolute;
   right: -1px;
   bottom: -1px;
   content:'';
   border-bottom: 40px solid silver;
   border-left: 40px solid transparent;
}

.cutCorner:after {
   position:absolute;
   right: -2px;
   bottom: -2px; 
   content:'';
   border-bottom: 40px solid white;
   border-left: 40px solid transparent;
}