.te-repeater,
.te-repeater-field-control-wrap {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }

.teg-widget-field-wrapper.teg_hidden_field {
  display: none; }

.te-repeater-top {
  padding: 0;
  cursor: move;
  background: #fafafa;
  color: #23282d;
  line-height: 1.4em;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }

.te-repeater-title h3, .te-repeater-title h4 {
  -moz-user-select: none;
  font-size: 1em;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 15px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap; }

.te-repeater-title-action {
  float: right;
  position: relative; }

.te-repeater-action {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  cursor: pointer;
  margin: 0;
  outline: 0 none;
  padding: 10px;
  color: #555d66; }
  .te-repeater-action .te-toggle-indicator:before {
    border-radius: 50%;
    padding: 1px 2px 1px 0;
    display: block;
    font: 400 20px/1 dashicons;
    content: "\f140";
    text-decoration: none; }

.repeater-field-control,
.repeater-table {
  margin: 0 auto 10px; }

.repeater-table.open .te-repeater-action .te-toggle-indicator:before {
  content: "\f142"; }

.repeater-fields,
.te-repeater-inside {
  line-height: 16px;
  padding: 10px 15px 15px;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }

.te-sortable-placeholder {
  border: 1px dashed #b4b9be;
  margin: 0 auto 10px;
  height: 45px;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.te-icons-wrapper .icons-list-wrapper {
  height: 180px;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%; }

.te-icons-wrapper .icons-list-wrapper span {
  display: block;
  float: left;
  padding: 14px;
  height: 20px;
  width: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%; }
  .te-icons-wrapper .icons-list-wrapper span.selected, .te-icons-wrapper .icons-list-wrapper span:hover {
    background: #2d2d2d;
    color: #fff; }

.icon-preview,
.icon-toggle {
  background: #2d2d2d;
  height: 40px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid #2d2d2d;
  border-radius: 8px;
  color: #fff;
  padding-bottom: 3px;
  display: inline-block;
  min-width: 40px;
  cursor: pointer; }

.icon-preview i {
  font-size: 25px;
  padding: 9px; }

.icon-toggle,
.icon-toggle span {
  background: 0 0;
  border: none;
  color: #2d2d2d;
  float: right;
  font-size: 17px;
  line-height: 40px; }

.icon-toggle span {
  font-size: 20px; }

.single-icon {
  cursor: pointer; }

.hide-radio {
  position: relative;
  margin-bottom: 6px; }

.hide-radio img,
.hide-radio label {
  display: block; }

.hide-radio input[type=radio] {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0; }

.hide-radio input[type=radio] + label {
  border: 3px solid #f1f1f1; }

.hide-radio input[type=radio]:checked + label {
  border: 3px solid #f88c00; }

.radio-image-wrapper {
  float: left;
  margin-right: 30px; }

.te-multiple-checkbox {
  max-height: 150px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  list-style: none; }
  .te-multiple-checkbox ul, .te-multiple-checkbox ol {
    margin-top: 8px;
    padding-left: 18px; }

.feature-first-promo {
  border-bottom: 2px solid #ddd; }

.hide-radio {
  float: left;
  position: relative;
  margin: 0 10px 10px 0; }

.hide-radio img,
.hide-radio label {
  display: block; }

.hide-radio input[type=radio] {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0; }

.hide-radio input[type=radio] + label {
  border: 3px solid #f1f1f1; }

.hide-radio input[type=radio]:checked + label {
  border: 3px solid #f88c00; }

div[id*="multicommerce"].widget .widget-title h3 {
  border-left: 5px solid #f28b00; }

/*admin tab*/
/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.multicommerce-tab-content {
  display: none; }

.multicommerce-postbox img {
  max-width: 100%;
  height: auto; }

.multicommerce-bottom-actions {
  padding: 10px;
  clear: both;
  border-top: 1px solid #ddd;
  background: #f5f5f5; }
  .multicommerce-bottom-actions .btn {
    margin: 3px 1px; }

#poststuff .multicommerce-top-title {
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 15px;
  background: #0085ba; }

#poststuff .multicommerce-tab-content h2 {
  padding: 20px 12px 8px 0;
  font-size: 1.6em; }

.multicommerce_widget_field {
  margin: 1em 0;
  clear: both; }

.multicommerce_widget_icon_wrap {
  position: relative; }
  .multicommerce_widget_icon_wrap .widefat {
    padding-right: 40px; }
  .multicommerce_widget_icon_wrap .multicommerce_icon {
    top: -2px;
    right: 0;
    width: 35px;
    height: 30px;
    color: #fff;
    display: block;
    line-height: 30px;
    text-align: center;
    position: absolute;
    background: #006799;
    border-radius: 3px; }

.wp-picker-container {
  display: block;
  padding-top: 5px; }

.multicommerce-hidden {
  display: none; }
  .multicommerce-hidden[type="radio"], .multicommerce-hidden[type="checkbox"] {
    display: none; }

.multicommerce-tab-content {
  display: none;
  border: 1px solid #dedede;
  padding: 0 15px;
  background: #fdfdfd; }
  .multicommerce-tab-content.multicommerce-content-active {
    display: block; }

.widget-content .multicommerce-tab-content {
  margin: 0 -15px 15px; }

/*icon picker*/
.popover-title input[type="search"] {
  width: 100%; }

.iconpicker-popover.popover {
  width: auto;
  position: static;
  border: 1px solid #dedede; }

/*customizer*/
.multicommerce-customize-customize-message h2 {
  margin: 0; }

#customize-control-multicommerce_theme_options-multicommerce-first-info-message, #customize-control-multicommerce_theme_options-multicommerce-first-info-icon, #customize-control-multicommerce_theme_options-multicommerce-first-info-title, #customize-control-multicommerce_theme_options-multicommerce-first-info-link, #customize-control-multicommerce_theme_options-multicommerce-second-info-message, #customize-control-multicommerce_theme_options-multicommerce-second-info-icon, #customize-control-multicommerce_theme_options-multicommerce-second-info-title, #customize-control-multicommerce_theme_options-multicommerce-second-info-link, #customize-control-multicommerce_theme_options-multicommerce-third-info-message, #customize-control-multicommerce_theme_options-multicommerce-third-info-icon, #customize-control-multicommerce_theme_options-multicommerce-third-info-title, #customize-control-multicommerce_theme_options-multicommerce-third-info-link, #customize-control-multicommerce_theme_options-multicommerce-forth-info-message, #customize-control-multicommerce_theme_options-multicommerce-forth-info-icon, #customize-control-multicommerce_theme_options-multicommerce-forth-info-title, #customize-control-multicommerce_theme_options-multicommerce-forth-info-link {
  margin-bottom: 0px;
  padding: 0 12px 12px;
  background-color: #f2f2f2;
  border: 1px solid #f28b00;
  border-width: 0 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  #customize-control-multicommerce_theme_options-multicommerce-first-info-message .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-first-info-message .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-first-info-icon .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-first-info-icon .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-first-info-title .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-first-info-title .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-first-info-link .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-first-info-link .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-second-info-message .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-second-info-message .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-second-info-icon .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-second-info-icon .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-second-info-title .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-second-info-title .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-second-info-link .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-second-info-link .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-third-info-message .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-third-info-message .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-third-info-icon .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-third-info-icon .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-third-info-title .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-third-info-title .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-third-info-link .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-third-info-link .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-forth-info-message .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-forth-info-message .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-forth-info-icon .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-forth-info-icon .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-forth-info-title .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-forth-info-title .icon-toggle span, #customize-control-multicommerce_theme_options-multicommerce-forth-info-link .icon-toggle, #customize-control-multicommerce_theme_options-multicommerce-forth-info-link .icon-toggle span {
    background: #f2f2f2; }
  #customize-control-multicommerce_theme_options-multicommerce-first-info-message hr, #customize-control-multicommerce_theme_options-multicommerce-first-info-icon hr, #customize-control-multicommerce_theme_options-multicommerce-first-info-title hr, #customize-control-multicommerce_theme_options-multicommerce-first-info-link hr, #customize-control-multicommerce_theme_options-multicommerce-second-info-message hr, #customize-control-multicommerce_theme_options-multicommerce-second-info-icon hr, #customize-control-multicommerce_theme_options-multicommerce-second-info-title hr, #customize-control-multicommerce_theme_options-multicommerce-second-info-link hr, #customize-control-multicommerce_theme_options-multicommerce-third-info-message hr, #customize-control-multicommerce_theme_options-multicommerce-third-info-icon hr, #customize-control-multicommerce_theme_options-multicommerce-third-info-title hr, #customize-control-multicommerce_theme_options-multicommerce-third-info-link hr, #customize-control-multicommerce_theme_options-multicommerce-forth-info-message hr, #customize-control-multicommerce_theme_options-multicommerce-forth-info-icon hr, #customize-control-multicommerce_theme_options-multicommerce-forth-info-title hr, #customize-control-multicommerce_theme_options-multicommerce-forth-info-link hr {
    display: none; }

#customize-control-multicommerce_theme_options-multicommerce-first-info-message, #customize-control-multicommerce_theme_options-multicommerce-second-info-message, #customize-control-multicommerce_theme_options-multicommerce-third-info-message, #customize-control-multicommerce_theme_options-multicommerce-forth-info-message {
  border-top: 1px solid #f28b00;
  padding: 12px 12px 0; }

#customize-control-multicommerce_theme_options-multicommerce-first-info-link, #customize-control-multicommerce_theme_options-multicommerce-second-info-link, #customize-control-multicommerce_theme_options-multicommerce-third-info-link, #customize-control-multicommerce_theme_options-multicommerce-forth-info-link {
  border-bottom: 1px solid #f28b00;
  margin-bottom: 12px; }

/*accordion for widget*/
.teg-accordion-title {
  display: block;
  background: #f1f1f1;
  line-height: 30px;
  text-transform: uppercase;
  padding: 5px 35px 5px 15px;
  position: relative; }
  .teg-accordion-title .teg-accordion-arrow {
    top: 0;
    right: 0;
    width: 30px;
    height: 40px;
    position: absolute;
    text-align: center;
    line-height: 40px;
    font-size: 18px; }

.teg-widget-accordion-wrapper {
  padding-top: 10px; }

.teg-accordion-wrapper {
  margin-bottom: 10px; }
  .teg-accordion-wrapper .teg-accordion-content {
    display: none;
    padding: 10px 15px;
    background: #fafafa; }
  .teg-accordion-wrapper.open .teg-accordion-content {
    display: block; }
/*# sourceMappingURL=teg-admin.css.map */